body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

#user-stuff ul {
    padding: 0;
}

#user-stuff li {
    display: inline;
    margin: 0;
}

#gender-input {
    width: 99%;
    display: flex;
}

#gender-input input {
    border-radius: 5px;
    height: 30px;
    flex-grow: 1;
    font-size: 1.5em;
}

.typeahead {
    width: 100%;
}

.tt-hint, .tt-input, .tt-menu, .twitter-typeahead, .tt-suggestion {
    width: 100%;
}

.tt-menu {
    border: 1px solid #dddddd;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #eeeeee;
    font-size: 1.3em;
    overflow: hidden;
}

.tt-suggestion {
    color: #666666;
    padding: 1.5%;
}

.tt-suggestion:hover, .tt-suggestion.tt-cursor {
    color: #eeeeee;
    background-color: #666666;
}
